<section class="container">
  <h2 class="title">Transferências</h2>
  <table class="table">
    <thead class="table__header">
      <th class="table__header__content">Data</th>
      <th class="table__header__content">Valor</th>
      <th class="table__header__content">Destino</th>
    </thead>
    <tbody *ngIf="!!transferencias.length; else listaVazia">
      <tr class="table__row" *ngFor="let transferencia of transferencias">
        <td class="table__content">{{ transferencia.data | date: "short" }}</td>
        <td class="table__content">{{ transferencia.valor | currency }}</td>
        <td class="table__content">{{ transferencia.destino }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #listaVazia>
    <p>Nenhuma operação cadastrada</p>
  </ng-template>
</section>
